[2015-02-28 06:24] mindblender opened #2 "New user password mismatch"
From SF #296 (https://sourceforge.net/p/phpcollab/bugs/296/)
I have just installed phpCollab and tried to create the first "proper" user. Because I discovered that the system does not cope with special symbols (ticket #245), I have specified password generator parameters so as to disallow special symbols and make length 16 chars to keep reasonable password length.
I pasted the generated password t

[2015-02-28 06:25] mindblender opened #3 "Initial password entry does not cope with special symbols"
From SF #295 (https://sourceforge.net/p/phpcollab/bugs/295/)

I have installed a fresh copy of pgpCollab with Softaculous using generated password with punctuation marks. I was mystified when I could not login the first time with the cut'n'pasted password. Reinstalled the system, generated different password - same story. I also could not reset the password because the the initial account did not

[2015-02-28 06:26] mindblender commented on #3
Hi Arunas,
Sorry you had a problem with phpCollab. It is hard to tell if it was a phpC issue or something with Softaculous. I am not familiar with Softaculous nor how they install scripts. I do know that phpC does have some limitations, due to its age, in some of its functionality.
If you find out more about your particular scenario, please respond and let us know.
Thanks,
Jeff

[2015-02-28 06:32] #2 closed

[2015-03-07 06:48] mindblender opened #4 "don't get language pt-br by default"
It's always getting pt language.
I'm using version phpCollab v2.5. and it happened in both firefox 3.6.10, firefox 4 beta 6 and google chrome 6. i don't tryed it in another brower but i think it's irrelevant.
When i'm debugging php it's always come the correct string on variable $plng on line 209 in includes/library.php.
I've got a workaround by commenting line 213 but I think it's nice contribute

[2015-03-07 06:50] mindblender commented on #4
This issue also applies to the following languages:
Chinese traditional
Czech (iso)
Czech (win1250)
Slovak (win1250)

The problem is that those languages have a dash in the name, and the dataScrubber implemented in 2.5 removes the dash, thus breaking this functionality.

[2015-03-12 03:04] mindblender opened #6 "Upgrade phpMyAdmin library"
Update external library to fix potential bugs/issues

[2015-03-12 03:04] mindblender opened #7 "Upgrade expdf/pdf class"
Update external library to fix potential bugs/issues

[2015-03-12 03:05] mindblender opened #8 "Upgrade JPGraph"
Update external library to fix potential bugs/issues

[2015-03-12 03:05] mindblender opened #9 "Upgrade HTMLArea"
Update external library to fix potential bugs/issues

[2015-03-12 03:06] mindblender opened #10 "Upgrade phppgadmin"
Update external library to fix potential bugs/issues

[2015-03-12 03:06] mindblender opened #11 "Upgrade phpMailer"
Update external library to fix potential bugs/issues

[2015-03-20 10:55] farfallosa opened #12 "Not PHP 5.4 compatible - "session_unregister""
"session_unregister" used in projects_site/home.php is not working in PHP 5.4 any more

[2015-03-20 22:13] mindblender commented on #12
Hi Farfallosa, I believe I have fixed that issue on the 5.x branch.  If you could, please checkout a copy of that branch and give it a try.  I'd appreciate any feedback on any other issues you might have under 5.4

Thanks!

[2015-03-22 17:18] farfallosa commented on #12
Hi Mindblender, thanks for the fix. But what does not work is notifying clients with links (exact path) to tasks or discussions. It only links to the project. This way clients would have to check themselves where to find the new discussion or task/ subtask.
Is there a way to fix this, too? Would appreciate this very much.
Thanks in advance. Regards!

[2015-03-24 03:01] mindblender commented on #12
Ok thanks.  I'll try and take a look at it this week.

Btw, did you apply the php5.x branch to your code?  If so, any problems that you found with the new changes?

[2015-03-26 03:16] mindblender commented on #12
Hi Farfallosa, It appears that this is a logic issue in the code and not a PHP version issue.   I will not be fixing issues like this in v2.x.  But I will be sure that they are addressed in v3.

If you are getting an error when the task/discussion is added, please let me know what that error is.

Thanks!

[2015-03-26 10:01] farfallosa commented on #12
Hi Mindblender, thanks for your support. May be the problem is cause by security management and handling Seccion IDs. So we'll wait for V3.x.
There is no error message. The link to the special task or discussion topic that was changed or posted is just cut and addresses the project home while being called out of notifications.

After I used the fixes of php5.x branch another bug came up: When rece

[2015-03-26 18:19] mindblender commented on #12
Hmm interesting.  I'll take another look, maybe I missed something.  Could you forward me an example of the email or paste it here for me to look at?  Just want to make sure I'm looking at the same thing :)

[2015-03-28 15:41] farfallosa commented on #12
It was just a message at the webpage. I have no copy. I undid the changes. I only kept projects_site/home.php. The client now is able to login client-side and other functions on team-side keep still working.

[2015-03-30 19:42] mindblender commented on #12
Just curious, any particular reason why you undid the changes from the 5.x branch?

[2015-04-01 10:52] farfallosa commented on #12
I could not identify the files of the 5x branch which caused the problems mentioned above. So I replaced them again, to get a working solution for mostly used functions. But I scheduled a closer check and than I will replace the files again with those out of the 5x branch. Thanks.

[2015-04-01 15:36] mindblender commented on #12
Thanks for the feedback.  I'd be curious if the 5.x branch caused you any problem.  If so, please let me know so I can fix them.

[2015-05-20 16:11] jpen365 commented on #11
It doesn't look like the changes made in March 2015 have been migrated back to the files hosted at Sourceforge. Should those files be updated? It looks like there are still quite a few weekly downloads from Sourceforge.

[2015-05-21 00:49] mindblender commented on #11
Hi, no the files on Sourceforge have not been updated yet.  Will update them when we do the next release for PHP 5 support.

[2015-05-21 03:55] mindblender commented on #4
This issue should be fixed now.

[2015-05-21 03:55] #4 closed

[2015-07-02 03:58] #12 closed

[2015-07-17 19:16] mindblender opened #16 "Upgrade script throws errors"
The installation/upgrade.php script does not perform the upgrade as it should.

Throws several errors and is not functioning.

[2016-01-26 20:01] jovalley opened #18 "Problem with display Files in a Project"
When I add a file, whatever kind it is, this is not visible in the project view . When a task is added, if the files are . Can you help me ?, thanks !

[2016-01-27 08:41] mindblender commented on #18
@jovalley Could you check your php error_log and see what error is being shown?

Are you seeing anything at all or just a white screen?

What version of phpCollab are you running and what version of PHP?

Thanks!

[2016-01-27 12:11] jovalley commented on #18
Hi, thanks for you response. I have PHP 5.3, phpCollab Version is 2.5.1.
If you see the picture, in Linked Files (or Archivos Adjuntos In Spanish) dont show nothing and i added 2 files there.
![problem](https://cloud.githubusercontent.com/assets/16902384/12612959/23281a3c-c4d5-11e5-8467-59906d95e1db.PNG)

Now, if i put a linked file in a Task for example, dont have problem., so I think that may be

[2016-01-27 16:19] mindblender commented on #18
Hi Jonathan,

Thank you for the screenshots.  I will take a look and see what I can find out.

Regards,
Jeff

[2016-01-27 16:35] jovalley commented on #18
Ok perfect!, really thanks! i wait for you reply

Regards,
Jonathan

[2016-02-03 02:34] mindblender commented on #18
Hi Jonathan,

Just curious, was this an existing install or a new install?  I think I found the problem, just trying to find out how it happened :)

Thanks,
Jeff

[2016-02-03 11:51] jovalley commented on #18
Hi Jeff, is a new install...

Thanks,
Jonathan

[2016-02-03 19:24] mindblender commented on #18
Ok.  I know what the problem is.  Looking at a solution.

[2016-02-03 19:43] jovalley commented on #18
Perfect!, really thanks!, wait for that

Regards,
Jonathan

[2016-04-20 04:09] mindblender opened #19 "Tasks in Calendar View with start/due dates missing tags"
From Sourceforge:
Milestone: V 2.5 Status: open Owner: nobody Labels: calendar (1)
Priority: 5
Created: 2016-02-11 Creator: Garrett

---

The "(Start date)" and "(Due Date)" strings are missing for any task shown in View Calendar.

The string "Task:" and the task name link does appear in View Calendar

Both the Start date and Due Date have values in viewtask

Because a given task is shown in the c

[2016-04-20 04:10] mindblender commented on #19
Hi Garrett,
Thanks for bringing this to our attention. I will take a look into it and see what we can do.
thanks,
Jeff

[2016-04-20 04:11] mindblender commented on #19
**Garret:**
FYI, this issue does not appear to affect Completed tasks. If I edit a task from Status: Open to Status: Completed / Completion: 100%, the calendar view correctly displays the Start date / Due Date strings after the task name.

[2016-04-20 04:11] mindblender commented on #19
Garrett,
If I understand correctly, when a task spans multiple days, it should show the (start date) and (due date) text, like it does for completed tasks.

See the attached screenshot for an example.

Btw, it appears that this wasn't a bug, but was the intended functionality. But I agree with you that it looks like there are duplicate tasks with the same name.

Thanks,
Jeff
<img width="1221" alt=

[2016-06-08 22:48] mindblender opened #20 "Task notices are cut when linking to it at client view."
there are problems in php 5.4. Task notices are cut when linking to it at client view. May be PHP code lacks compatibility with the PHP Version

[2016-07-23 17:24] gibranlp opened #21 "PANIC! Error during connection on server MySQL."
I can't find the way to install PhpCollab i always get this error.

v2.5.1

[2016-07-27 02:35] mindblender commented on #21
Hi @gibranlp,

Is this a new install of an upgrade?  Have you verified that the MySQL user/password, and MySQL server address are correct in the includes/settings.php file?

If possible, could you check the error logs on your web server and see if it give any more information?

Thanks!

[2016-08-11 06:57] fgeek opened #22 "SQL-injection vulnerability"
Advisory here: http://www.vulnerability-lab.com/get_content.php?id=1898

Vulnerability Laboratory said that they were unable to contact you. Is this vulnerability valid and do you plan to fix it in some release? I can also reproduce it if needed.

[2016-08-11 16:45] mindblender commented on #22
Hi @fgeek

Yes, v2.5x has several SQL vulnerabilities in it.  The issue is we are at a crossroad since the original phpCollab code is so old.  Do we try and do patches and fix all the issues, and not just SQL vulnerabilities but a lot of others, or do we rewrite it from the ground up.  Having worked on the code for a long time, I am starting to lean towards rewriting it from scratch so that we can

[2016-08-12 08:32] project29k commented on #22
I started phpcollab in February 2002, and of course everything is old: php, css, js, html
For example, with php7, the mysql driver is deprecated, you have to use mysql improved or pdo
The design is old, not responsive
Now I play with material design lite: https://readerself.com/demo/?email=example@example.com&password=example

Regularly I want to start again, because I think that today we can do s

[2016-10-14 15:44] packetflow opened #23 "Bulletin Board - Added text is not visible"
Hi,

found an issue that if we open a discussion the text "Message :" is always not visible/empty. Issue does not depend on if project manager adds it or customer.

Details:
Version 2.5.1
Server version: Apache/2.4.20 (FreeBSD)
PHP 5.6.21
mysql  5.7.10

Do we need any additional information?

Cheers,
*p

[2016-10-14 16:14] mindblender commented on #23
Thanks for reporting this.  We will take a look at it.

[2017-01-22 00:25] florinj opened #25 "Change password on „Forgot password ?” page should happen somehow after and only if the e-mail was successfully sended."
This is a major bug.
If the e-mail can not be sent, someone can lose the account because the password will not be sent and the password change already happened in database.
A more secure approach would be to send a volatile change link that will open a webpage where the new password can be entered.

[2017-01-24 23:28] mindblender commented on #25
Thanks for letting us know about this issue.  We will add this as an enhancement in v3

[2017-01-26 11:23] florinj opened #26 "Language selection not working in Firefox. In all other tested browsers works."
Hi
The language selection does not work in my Firefox browser. It is always set to „en”.
I am a linux user - Ubuntu-Mate 14.04 LTS / 64bit.
I've installed PhpCollab using nginx + php5-fpm + MySQL.
**nginx virtual host config**
[code]
The address is like **http://&lt;domain name&gt;/management/**
Tested browsers: Firefox 50.1.0(not working), Chromium 53.0.2785.143(ok), Opera 42.0.2393.137(ok), Goog

[2017-01-26 22:41] mindblender commented on #26
@florinj Thanks for letting me know about this.  I will take a look at it.

[2017-01-26 22:44] mindblender commented on #26
In regards to the translation files, there is a plan to move them to gettext format in the next version.

[2017-01-27 10:05] florinj commented on #26
By the way, the selection I've mentioned before, was about the language default selection from the install phase.
Besides that, I've discovered that changing the language using the drop list from the login page also doesn't work. In Firefox stays fixed on English and in the other browsers stays fixed on to whatever the default language was previously chosen.

[2017-01-27 10:36] florinj opened #27 "Invoices page list per client wrongly display all the invoices from all the clients."
I've created 2 clients with their own projects. But when you try to display client invoices (tested in admin) you will see that in each client invoices list page are displayed all the invoices from all the clients.
Should display only the client invoices according to the breadcrumb:
**Clients / &lt;client X&gt; / Invoices / Open | Sent | Paid**
invoice1 - client X
invoice2 - client X
.............

[2017-01-27 11:11] florinj opened #28 "Saved session in „members” table generates session errors when loging the same user simultaneous from different browsers/computers."
It is a good thing to save in db the session id per member/user but only if you want to deny simultaneous loggings for the same user across multiple computers/browsers. Those errors should transform in ”User already logged!” and the deny should remain in function until the other user has logged out when, also, the session id must be deleted from the members table. Now a new logging attempt from an

[2017-01-27 16:46] mindblender commented on #26
What version of PhpCollab are you using?

[2017-01-28 12:10] florinj commented on #26
2.5.1 from sourceforge

[2017-01-28 12:20] florinj opened #29 "SMTP with ssl/tls would be very useful"
Do you plan to implement ?
It will be very very nice that PhpCollab to have it.

[2017-01-28 20:40] mindblender commented on #29
Something to look into.  Thanks!

[2017-01-31 00:12] mindblender commented on #27
Thanks, we will look into this and make sure invoices are filtered appropriately

[2017-02-12 06:05] phocean opened #30 "How to report security vulnerabilities?"
Hi,

We have a bunch of security vulnerabilities to report to you.
How can we communicate to you the details ? We did not find an e-mail address for that.

Honestly, an public issue would not be a good idea as anyone could peak and exploit them against users.

Best regards.

[2017-02-12 17:52] mindblender commented on #30
You can email them to admin@phpcollab.com

Thanks,
Jeff

[2017-02-13 09:23] phocean commented on #30
Thanks, I am going to send you the details.

[2017-02-13 09:23] #30 closed

[2017-02-15 02:10] mindblender commented on #27
This is a bug.

From looking at it, I believe logic is getting invoices for all projects that the current user is owner of, instead of by the client id.  This will be fixed in the next release.

[2017-07-26 03:20] mindblender commented on #26
I just tested and if the default language is set in the settings.php file, it selects that by default.  If you change the language in the drop-down on the login page, the subsequent pages should display in that language.

@florinj could you explain more about the expected behavior for the language drop-down list?

Thanks

[2017-07-26 03:21] #16 closed

[2017-07-26 03:23] #21 closed

[2017-07-26 03:23] mindblender commented on #21
Closing due to no response.  Please reopen if you are still having this problem

[2017-07-26 03:24] mindblender commented on #22
Closing this since several SQL vulnerabilities have been fixed in the master branch and will be included in the next release.

[2017-07-26 03:24] #22 closed

[2017-07-26 03:25] mindblender commented on #3
Closing.  Please re-open if this is still an issue.

[2017-07-26 03:25] #3 closed

[2017-07-26 03:26] mindblender commented on #18
Hi @jovalley

The master branch has been updated with a lot of changes in the code structure/logic.  It should stil be compatible with your existing database if you want to give it a try and see if it fixes your issue.  Please note that the master branch is NOT an official release so you are highly recommended to backup your installation first.

[2017-07-26 03:27] #18 closed

[2017-07-26 03:28] #19 closed

[2017-07-26 03:29] mindblender commented on #23
@packetflow

The master branch has been updated with a lot of changes in the code structure/logic. It should still be compatible with your existing database if you want to give it a try and see if it fixes your issue. Please note that the master branch is NOT an official release so you are highly recommended to backup your installation first.

Closing this, please re-open if you test and the issue

[2017-07-26 03:29] #23 closed

[2017-08-23 02:22] #6 closed

[2017-08-23 02:23] #7 closed

[2017-08-23 02:23] #8 closed

[2017-08-23 02:24] #9 closed

[2017-08-23 02:25] #10 closed

[2017-08-23 02:26] #11 closed

[2017-08-23 02:28] mindblender commented on #26
Closing issue. Please re-open, or create a new one if problem still persists.

[2017-08-23 02:28] #26 closed

[2017-08-23 02:30] #29 closed

[2017-08-23 02:33] #25 closed

[2017-08-23 02:35] #27 closed

[2017-08-23 02:39] mindblender commented on #28
Will look into this.  thanks

[2017-08-23 02:39] #28 closed

[2018-02-10 00:35] Meliors opened #32 "firt installation on shared hosting"
Error!: SQLSTATE[HY000] [1045] Access denied for user 'user'@'ip' (using password: YES)

[2018-05-05 16:23] DrMartinus opened #33 "After installation certain Tables not found"
- [] phpCollab version used
2.6.1
- [] PHP version (e.g. 5.3, 7.x)
5.6
- [] Web server and version (Apache, nginx)
Apache 2.4
- [] Steps to duplicate the problem
After installation, the first login results in the following error:
[code]
I have set the prefix for tables to "phpcoll_", and there is a table called "phpcoll_organizations". Hence I am curious why it says that a table "phpcollab.organiz

[2018-05-05 18:12] mindblender commented on #33
Is this a new install or an upgrade?

[2018-05-05 22:07] mindblender commented on #33
Can you verify that the DB tables were created?

[2018-05-05 22:48] mindblender commented on #33
Could be a bug with the table prefix.  I'll take a look and let you know what I find out.

[2018-05-06 05:14] DrMartinus commented on #33
![screenshot_20180506_071129](https://user-images.githubusercontent.com/39009855/39670070-ffd7573a-50fc-11e8-9f64-3ff5837c43f6.png)

Here is the list of all tables that were created by phpcollab.

[2018-05-08 01:42] mindblender commented on #33
I was able to reproduce.  Will investigate and find a solution.  Thanks!

[2018-05-08 04:31] mindblender commented on #33
This has been fixed and will be in the next release.

[2018-05-08 04:31] #33 closed

[2018-07-25 00:32] mindblender opened #34 "Peer Review file not getting attached"
look into why the peer review file attachment is not getting attached

See [viewfile.php](https://github.com/phpcollab/phpcollab/blob/master/linkedcontent/viewfile.php#L201)

[2018-08-15 02:27] mindblender opened #35 "DB Error thrown when using tables with a prefix"
Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'phpcollab.organizations' doesn't exist' in /{{path}}/{{to}}/{{phpcollab}}/classes/Database.php:86 Stack trace: #0 /{{path}}/{{to}}/{{phpcollab}}/classes/Database.php(86): PDOStatement->execute(NULL) #1 /{{path}}/{{to}}/{{phpcollab}}/classes/Database.php(111): phpCollab\Database->

[2018-08-29 06:02] mindblender opened #36 "Sorting appears to be broken in latest release"

[2019-04-08 11:44] mmmathias opened #37 "Hyperlink for appointment doesn't work correctly"
phpCollab version: v2.6.4

PHP version: any

Web server and version: any

Steps to duplicate the problem:
From calendar dayList perform click on any appointment

Solution:
In ./calendar/viewcalendar.php Line 548:
`
//	MBUD 20190408
//	Hyperlink funktioniert nicht / hyperlink doesn't work
//	$ vor url-param entfernen / removed $ before url-param

$block1->cellRow($blockPage->buildLink("../calendar/

[2019-05-06 17:58] xstresedg opened #38 "Fatal error: Class 'DataFunctions' not found in ../administration/updatesettings.php"
# Issue Report

Remove the above from the issue description and make sure the following checklist is followed:

- [] phpCollab version used: 2.6.4
- [] PHP version (e.g. 5.3, 7.x): 5.6.40
- [] Web server and version (Apache, nginx): Apache/2.4.39 (cPanel) OpenSSL/1.0.2r mod_bwlimited/1.4
- [] Steps to duplicate the problem: Fresh install via Softilicious, modifying any existing item (task, project

[2019-05-17 03:07] mindblender commented on #38
@cmkos Thanks for bringing this to our attention.  I will take a look and see what the issue is.

[2019-05-18 07:14] mindblender commented on #38
It appears that the dataScrub method is only used in the update code.  I have added this to the list of things to look into.

[2019-05-18 07:16] mindblender commented on #37
@mmmathias Could you please issue a pull request with this fix?  thanks!

[2019-07-03 13:13] Vnonni opened #39 "Notification of a new revision, no work"
Update
PHP version 7.3.6
PhpCollab v2.6.4

and now
when I create a review, the news via email does not start
thanks

[2019-07-10 05:54] mindblender commented on #39
@Vnonni Thanks for the feedback.  There are several issues with using phpCollab and 7.3.x.  I am looking into them, but it will be awhile before full 7.3.x support is in place.  It should be working on 7.2.x though.  Please let us know if the same issue happens there.  thanks!

[2019-07-15 09:34] Vnonni commented on #39
Dear Jeff
many thanks for your answer

we stepped back to ver. 7.2.20 as you suggested,
unfortunately we encounter the same issues we already reported:
•	the notification mails sent for any new object uploaded don't report the comments inserted by who uploaded the file
•	no notification mail is sent when uploading a revision of an existing object
both things worked perfectly before this update (we

[2019-07-15 21:23] mindblender commented on #39
Hi @Vnonni

Sorry you are experiencing the same issue in php 7.2.

Could you please provide a detailed steps/click path to reproduce the issue?  I'm not clear on what you mean by "object" or what section of the app the issue is in.

[2019-07-16 10:28] Vnonni commented on #39
[We use very frequently the feature.docx](https://github.com/phpcollab/phpcollab/files/3396645/We.use.very.frequently.the.feature.docx)

[2019-07-16 10:59] mindblender commented on #39
@Vnonni Thanks for that information.  I will take a look and see if I can find the problem.  I'll post back my finding.

[2019-07-17 06:19] mindblender commented on #39
@Vnonni I believe I have fixed the missing subject when a new file is added.  However, I looked back at the old code and could not find any instances where a notification was being sent when a file was updated.  I agree with you that that would be handy to know and will add that functionality in so when a file is approved, updated, etc a notification will go out.

I will also add in the comment fi

[2019-07-17 06:21] mindblender opened #40 "Feat: Add comments to add file notification"
When a user uploads a file, a notification is sent out.  In the notification there is basic information, but the comment field is not being added to the notification.  Adding the comment field will help improve the experience and help the user to determine information about the file without having to view the file in phpCollab.

Task: Add comment field to the notification

[2019-07-17 06:22] mindblender opened #41 "Feat: Send a notification when a file is updated"
When a user adds an updated file, a notification should go out alerting the team that the file had been updated.

Task: Add updated file notification

[2019-07-17 06:23] mindblender opened #42 "Feat: Send notification when a file approval status is changed"
When a user changes the approval status of a file, a notification should go out alerting the team that the file approval status has been updated.

Task: Add file approval status change notification

[2019-07-19 08:28] #40 closed

[2019-08-12 07:33] algores opened #43 "upgrade phpcollab"
Dear mindblender,
first of all thank you for your work, we are using phpcollab 2.5.1 what is the right upgrade process from phpcollab 2.5.1 to phpcollab 2.6 or 2.7 ?

Best regards,
Daniele

[2019-08-19 23:37] mindblender commented on #43
@algores Since there are no Database changes in the latest releases, you should be able to just replace the files and be back up and running on the latest version.  As always, I would recommend that you backup your phpCollab files and database prior to any update, just to be safe.  Also, always make sure you keep your `includes/settings.php` file, and the `files/`, `logos_clients` folders.

[2019-11-10 06:25] #43 closed

[2019-12-29 10:02] algores opened #45 "password reset doesn't send new password"
Dear mindblender as you can see from attached screenshot password reset doesn't send new password but database password field is updated

- Centos 6.10 (Plesk Obsidian 18.0.21)
- phpCollab 2.7.0 (fresh installation)
- Apache 2.2.15 (nginx as reverse proxy)
- tested with PHP version 7.1,7.2,7.3 fastcgi and fpm
- tested with all login methods: PLAIN, MD5, CRYPT

<img width="1066" alt="Screenshot 201

[2019-12-29 12:09] algores opened #46 "password with _ character not accepted"
Dear mindblender,
password with  "_ " character is not accepted, as you can see from attached screenshot, a strange password is generated in the table field

- Centos 6.10 (Plesk Obsidian 18.0.21)
- phpCollab 2.7.0 (fresh installation)
- Apache 2.2.15 (nginx as reverse proxy)
- tested with PHP version 7.1,7.2,7.3 fastcgi and fpm
- tested with all login methods: PLAIN, MD5, CRYPT

<img width="519"

[2019-12-30 10:54] algores opened #47 "e-mail notifications page"
Dear mindblender,
e-mail notifications page /preferences/updatenotifications.php don't save settings and I think there is something of strange to page title or in the notification logic because notification is sent only if  notification value is "0" (ex: $listNotifications["taskAssignment"] == "0")

Centos 6.10 (Plesk Obsidian 18.0.21)
phpCollab 2.7.0 (fresh installation with data imported)
Apache

[2019-12-30 12:32] Vnonni commented on #39
Dear Team?, Jeff?
we are using PHPcollab since long on a Windows 2008 server
until the version 2.5.15 of PHPcollab and 5.6 of PHP everything worked fine, and we introduced also some improvements that you later bought as suggestions:
1) notification message sent when a revision of a file is uploaded, and
2) comments inserted when uploading a file or a revision are reported on the related notificati

[2019-12-30 14:46] algores opened #48 "edit task: comment field"
Dear mindblender,
when task with comment is modified comment textarea is empty.
I think {$_POST["comments"]} in the tasks/edittask.php line 987 should be "{$comments}"

Centos 6.10 (Plesk Obsidian 18.0.21)
phpCollab 2.7.0 (fresh installation with data imported)
Apache 2.2.15 (nginx as reverse proxy)
PHP version 7.3.13 fastcgi

Thank you

[2019-12-30 21:44] mindblender commented on #45
Thank you for letting me know about this.  I'll take a look and get it fixed.

[2019-12-30 21:44] mindblender commented on #46
Thank you for letting me know about this.  I'll take a look and get it fixed.

[2019-12-30 21:46] mindblender commented on #47
Thank you for letting me know about this.  I'll take a look and get it fixed.

[2019-12-30 21:46] mindblender commented on #48
IT very well could be.  I'll check the code and get it fixed soon.

[2019-12-30 21:50] mindblender commented on #39
Hi @Vnonni thanks for the detailed feedback.  I will take a look at the functionality and get a fix for it soon.  I am planning on doing several fixes in the next few weeks and hopefully get a patch out.  I'll keep this issue updated as I make progress.

[2019-12-31 09:51] algores opened #49 "create report: date not filtered"
Dear mindblender,
report results (reports/resultsreport.php) doesn't filter "Due Date" and "Complete Date"

Centos 6.10 (Plesk Obsidian 18.0.21)
phpCollab 2.7.0 (fresh installation with data imported)
Apache 2.2.15 (nginx as reverse proxy)
PHP version 7.3.13 fastcgi

Thank you

[2019-12-31 21:11] mindblender commented on #49
thanks, I'll take a look!

[2020-01-07 03:13] mindblender commented on #39
@Vnonni you mentioned that you had made some enhancements to the codebase?  Would you be willing to contribute those?  If so, please submit a pull request and we will take a look and see about getting them added.  Thanks!

[2020-01-15 07:18] mindblender commented on #46
@algores Just tested on my local install of phpC 2.7.1 on PHP 7.2.1 and I was able to create a user with an underscore in the password.

Steps I took to reproduce:
Logged in as admin, went to User Management, clicked Add User.  Filled out the information and used abc_123 as password and it saved it in the database.  Logged out and tried logging in with the newly created user and was able to succes

[2020-01-15 07:18] #45 closed

[2020-01-15 07:21] #48 closed

[2020-01-15 07:31] mindblender commented on #47
@algores I was not able to reproduce any issue with saving a notification preference.

That being said, yes the code logic appears to be backwards and needs to be fixed, but that will require making data changes with an upgrade script and is low on the priority list.  Right now, 0 means true, 1 means false.  It should be the opposite. 😬

It is on the agenda for v3 to fix these little nuances.

Ple

[2020-01-15 07:31] #47 closed

[2020-01-22 09:37] #46 closed

[2020-01-22 19:14] #49 closed

[2020-01-22 22:12] mindblender commented on #38
This appears to be fixed in v.2.7.x.  Closing this issue.  Please reopen if you are still having this problem.

[2020-01-22 22:12] #38 closed

[2020-01-22 22:12] #37 closed

[2020-01-22 22:34] #20 closed

[2020-01-30 04:29] mindblender commented on #39
@Vnonni I believe I have a fix for the first issue you are seeing.  However, for the second issue, regarding a notification when a revision is added, I did not see any code that would send a notification.  Perhaps that is a feature/mod that you implemented?

[2020-01-30 04:44] mindblender commented on #42
Also should send a notification when an approval comment is added

[2020-02-13 03:43] mindblender commented on #42
Added a new notification when a linked content file approval statue changes, via the approval tracking form, an email notification will be sent out to team members.

[2020-02-13 03:43] #42 closed

[2020-02-13 03:43] mindblender commented on #41
Added a new notification when a linked content file has an updated version added, via the update file form, an email notification will be sent out to team members.

[2020-02-13 03:43] #41 closed

[2020-02-13 03:44] mindblender commented on #39
@Vnonni Just a heads up that I have added a new notification when a file revision gets added to be sent out via email.  Also, I believe your other issue has been fixed.

[2020-02-13 03:44] #39 closed

[2020-02-13 03:45] mindblender commented on #34
I believe this is now fixed.  I have done testing and peer review files are being attached.  Please create a new issue if you encounter any further problems.

[2020-02-13 03:45] #34 closed

[2020-03-02 15:03] vanbeck opened #50 "MM_getButtonWithName is not defined"
# Issue Report

phpCollab version used: 2.7.2
PHP version 7
Web server and version Apache
Steps to duplicate the problem: click on any button

[2020-03-03 06:43] mindblender commented on #50
@vanbeck Could you please provide more information.  I am unable to reproduce an "is not defined" error.

[2020-03-03 06:43] #50 closed

[2020-03-03 11:31] vanbeck commented on #50
Hi, I find the issue.
Is not a problem of PHPCOLLAB but an issue with debian.
I need to purge javascript-common because it had made an incorrect alias.

<https://www.facebook.com/imcalternancerandstad>

Le mar. 3 mars 2020 à 07:43, Jeff Sittler <notifications@github.com> a
écrit :

[2020-03-03 22:30] mindblender commented on #50
Thanks for letting us know.

[2020-03-04 15:57] mindblender opened #51 "Expand/Collapse Sections not functioning properly"
When a user collapses a section, the section collapses but the user is unable to expand it by clicking the expand triangle.

If a user refreshes the page, then the section is collapsed.

[2020-03-04 18:03] mindblender commented on #51
Code has been committed that should fix this issue.

[2020-03-04 18:03] #51 closed

[2020-03-30 12:11] Vnonni commented on #42
Dear Jeff
we would like to test the new version 2.7.2 that you released, also because for what we have read this should provide some functionality we implemented on our own on past versions

only, by reading the message on the main page you say that you're working to let this new version working on PHP 7.3.x
what does it mean: does the version 2.7.2 work on a later version of PHP such as 7.4.1 (th

[2020-03-30 17:23] mindblender commented on #42
Hi,

phpCollab 2.7.2 has been tested against PHP 7.2.1.  I am in the process of
testing with 7.3.x.

I have not kept up with the latest PHP version releases, so was not aware
7.4.x had come out as well so I will take a look at what differences there
are and see if there are any breaking changes and will also begin testing
against 7.4.x.

Regards,
Jeff

On Mon, Mar 30, 2020 at 5:11 AM Vnonni <notif

[2020-04-22 14:37] lethanhtrung222 opened #52 "2 security issues"
Hello phpCollab, I have 2 security issues in your product. Can you share me your contact?

[2020-04-22 14:38] lethanhtrung222 commented on #52
My email: lethanhtrung.exe@gmail.com

[2020-04-23 14:07] #52 closed

[2020-04-24 09:12] lethanhtrung222 opened #53 "RCE via CSRF."
https://www.baomatcoban.info/2020/04/funnymini0day-phpcollab-v272-rce-via.html
Today, the weather is good but due to the COVID-19 crisis I was at home. In that time, I have found a security issue of phpCollab.

👨🏼‍💻Discovered by Trung Thanh Le.
📝Published 22/04/2020.
💉CVE: Pending
🔗phpCollab
📄Vulnerable version ≤2.7.2
I. VULNERABILITY
    phpCollab v2.7.2 -- CSRF Content Upload and PHP Script Exec

[2020-04-27 18:24] #53 closed

[2020-05-22 09:43] davideferretto opened #54 "Fatal error: Uncaught TypeError"
Hello! I'm a happy PHPCOLLAB user from Italy.
Is the first time that I use Git to send an error but i'm not a developer and i cant solve this problem :(

SITUATION

- [] phpCollab version used: 2.7.2
- [] PHP version (e.g. 5.3, 7.x): 7.0
- [] Web server and version (Apache, nginx): ngix
- [] Steps to duplicate the problem:
OPEN A PROJECT --> INSERT A FILE ATTACHED INTO A TASK --> TRY TO DOWNLOAD I

[2020-05-24 18:07] mindblender commented on #54
Hi @davideferretto thanks for letting us know.  we will take a look at the issue.

[2020-05-24 22:21] davideferretto commented on #54
Thanks a lot!

Inviato da iPhone

[2020-07-23 08:01] lethanhtrung222 opened #56 "deleted"
deleted

[2020-08-08 00:33] #56 closed

[2020-09-09 19:44] mindblender commented on #54
@davideferretto This should be fixed in the latest release.  Could you please install the latest version and re-test?  thanks!

[2020-09-10 13:59] davideferretto commented on #54
Thanks for your reply!
I tried to install the new version in the same server as mentioned and i receive this error :(

Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /volume1/web/collab/vendor/monolog/monolog/src/Monolog/Handler/StreamHandler.php on line 44

[2020-09-10 16:52] mindblender commented on #54
@davideferretto
hmm I haven't seen that error in my testing. If you don't have a "logs" directory in the root of the project, could you create one
and make sure it is writeable.  Then try again and see if you get the same error.

Thanks!

[2020-11-03 00:24] #54 closed

[2021-01-25 04:18] jtgasper3 opened #57 "List of warnings on settings page"
After starting up (and configuring the db and other settings): and hitting`administration/updatesettings.php`
The following error shows between "Edit settings" and "General":

[code]

[2021-02-03 00:29] #57 closed

[2021-03-16 19:24] mindblender opened #58 "Special characters getting stripped out of passwords"
When doing an install and using strong passwords with special characters for the database and admin logins, phpCollab is striping out the special characters and can throw an error connecting to the database error or not allowing the admin to login due to an "incorrect" password.

[2021-03-17 18:11] #58 closed

[2021-06-01 01:17] ychavoya opened #60 "Fix repository info link"
Hey! This is nothing about the code (great work!), but something small about the repository info on github 😄

Currently it says `https:/phpcollab.com` when it should be `https://phpcollab.com`.

Just thought you might want to know 😅

![image](https://user-images.githubusercontent.com/7907338/120253468-09588a80-c24d-11eb-8e21-53d8d8bcc6c2.png)

[2021-06-10 16:38] mindblender commented on #60
Fixed.  Thanks @ychavoya

[2021-06-10 16:38] #60 closed

[2021-08-17 14:56] mindblender opened #65 "Fatal error when viewing Organization"
Getting a Fatal Error when viewing "Organization Details" from Admin screen

Error:
[code]

[2021-08-18 22:46] mindblender commented on #65
Fixed in v2.10.1

[2021-08-18 22:46] #65 closed

[2021-09-21 17:55] Machiuka opened #67 "Unable to add user at a team project"
When try to add a user to a team of a project it gives an error. It seems that the php app gives a blank string instead of a numerical id of the user.

[2021-09-21 17:57] Machiuka opened #68 "Update settings error"
When try to update settings from Administration / Project settings and configuration, the file updatesettings.php gives an error.

[2021-09-23 17:13] mindblender opened #69 "Update "My" Company Details"
When phpCollab is accessed via a sub-directory, the user is unable to update the company details.

[2021-09-23 17:18] mindblender commented on #68
Could you please provide additional information regarding the error you are seeing and what steps you performed to produce the error.  Thanks!

[2021-09-26 17:04] #67 closed

[2021-09-26 17:04] #69 closed

[2021-09-26 17:12] nhoknakroz opened #70 "Reset password using "Forget password" doesn't work"
When I try to reset password of an user. It always return message "You have tried too many times. Please wait and try again.".

[2021-09-28 10:11] Machiuka commented on #68
When you change debugging settings from 400 Prod to 100 Debug it shows the error message phpcollab appears to have fallen down

[2021-09-28 14:54] Machiuka commented on #68
Little update: Changing that setting, from 400 to 100 is a fatal flaw. Entire site become unreachable. I'll reinstall the app and see if the problem repeat.

[2021-09-28 15:15] Machiuka commented on #68
Another update: Entering in that menu and clicking "Save" button crashed the site, even if no other selections are made.

[2021-09-29 12:44] Machiuka commented on #68
The problem is that in the ~/includes/settings.php the password to access database is altered after that operation. Putting back the correct password allow to access the site again.

[2021-10-02 14:59] CharlyUtrilla opened #71 "Muchos errores de variables en la última edición"
Soy nuevo por aquí, así que perdón si hago o digo algo que no debo.
Me descargué ayer la versión 2.9.0 de Phpcollab.
Trabajo en Windows con Xampp.
Primero me costó integrarla en Phpmyadmin, ya que en muchos sitios no indican que hay que crearse un usuario nuevo con contraseña para esa base de datos.
Pero mi sorpresa fue que una vez creadas las tablas de la bbdd, al ejecutar la página de inicio apa

[2021-10-03 17:21] mindblender commented on #71
@CharlyUtrilla Thank you for reporting this.  I would recommend that you upgrade to the latest version and see if that fixes your issues.  Please let me know if they still persist upon upgrading.

[2021-10-04 09:31] CharlyUtrilla commented on #71
Me descargué la última versión, no puedo probar otra. Creo que está escrito con una versión de php anterior a la que tengo en mi ordenador.

[2021-10-05 15:50] mindblender commented on #71
phpCollab should support PHP >=7.2.5.  What version of PHP are you using and what errors are you seeing that are preventing you from using phpCollab?

[2021-10-06 18:16] CharlyUtrilla commented on #71
Tengo la versión 8.0.3 de PHP. En la primera entrada de este problema puede ver una imagen con algunos de los errores que me aparecen.

[2021-10-11 21:33] mindblender commented on #71
@CharlyUtrilla It appears that those are warnings from some PHP 8.x changes.  I am working on getting them resolved, but it will take some time.

A temporary workaround would be to edit the `includes/library.php` file and edit line 20 and change it from `error_reporting(2039);` to `error_reporting( E_ERROR );`

Here is a link to the file and line to change https://github.com/phpcollab/phpcollab/bl

[2021-11-22 15:23] mindblender commented on #70
@nhoknakroz What version of phpCollab are you using?

Is there anything shown in the logs?

[2021-12-02 01:08] mindblender commented on #68
@Machiuka What version of phpC are you using?

[2021-12-31 23:48] theedo opened #72 "Peer Review issues"
Debian 11 Bullseye
- [] phpCollab version: 2.10.3
- [] PHP version: 7.4.25
- [] Web server: Apache2 version 2.4.51-1
- [] Steps to duplicate the problem
Upload file through linked content under a task. Submit per review. You are re directed to an error message. Oooof  Looks like phpcollab fell down. The file gets uploaded but there is nothing listed under peer reviews.

- [] Stacktraces and phpCol

[2021-12-31 23:59] theedo opened #73 "Task update history issue"
Debian 11 Bullseye
- [] phpCollab version: 2.10.3
- [] Web server: Apache2 version 2.4.51-1

- [] Steps to duplicate the problem
Add a task and update it.
Under task update history click show details.
Return error message Ooof! phpcollab appears to have fallen down.

- [] Stacktraces and phpCollab/PHP DEBUG logs where appropriate.
FATAL ERROR (2): TypeError: Argument 1 passed to phpCollab\Projects

[2022-01-01 00:05] theedo opened #74 "Subtask form incomplete"
Debian 11 Bullseye
- [] phpCollab version: 2.10.3
- [] PHP version: 7.4.25
- [] Web server: Apache2 version 2.4.51-1

- [] Steps to duplicate the problem
Add a task. Try and add subtask to task. Form appears incomplete and there is no submit button. Also the assign to dropdown does not get populated.

- [] Stacktraces and phpCollab/PHP DEBUG logs where appropriate.
Not applicable.

[2022-01-01 00:13] theedo opened #75 "Reassign task error"
Debian 11 Bullseye
- [] phpCollab version: 2.10.3
- [] PHP version: 7.4.25
- [] Web server: Apache2 version 2.4.51-1

- [] Steps to duplicate the problem
Try to edit and existng task and assign it to a different use than originally assigned to.
click submit. Leads to error message Ooof! phpcollab appears to have fallen down.

- [] Stacktraces and phpCollab/PHP DEBUG logs where appropriate.
FATAL E

[2022-01-02 07:41] WiseWorksLLC opened #76 "Error Messages: phpCollab appears to have fallen down"
phpCollab appears to have fallen down: this happens when trying to access a project site home page or linked content.

![image](https://user-images.githubusercontent.com/75926531/147869291-559dc15b-25e7-4bb7-b9c0-20931a907e80.png)

# Issue Report

Remove the above from the issue description and make sure the following checklist is followed:

- [] phpCollab version used: **phpCollab 2.10.3**
- [] P

[2022-01-03 03:00] mindblender commented on #76
@WiseWorksLLC Could you please provide the additional information mentioned in the "Issue Report" section.  Thanks

[2022-01-03 03:01] mindblender commented on #75
I confirmed this issue and have fixed it. The fix will be in the next release.

[2022-01-03 03:03] mindblender commented on #74
@theedo Usually when a page does not render properly, in this case an incomplete form, there is usually an error in the generated HTML code.  Since you mention the "assign to" drop down is not getting populated, then I bet that if you inspect that element, or view page source, there will be an error buried in the code.  If you could provide that error, it will help me reproduce it.

[2022-01-03 03:31] WiseWorksLLC commented on #76
I have updated the issue with the additional information but the issue
seems to be already tagged as closed in Github. Kindly assist. Thank you

Best regards,
*Eli K. Klu   *

*Our T.I.L.E.D. Values; Teamwork, Innovation, Leadership, Excellence &
Diligence*

*Tel.    : (+233) 54 462 1397 Email : ***@***.***
***@***.***>*

*931, Palm Valley,*

*Kuottam Oyarifa,*

*Greater Accra – Ghana.*

*P. O. Bo

[2022-01-04 23:25] mindblender commented on #76
@WiseWorksLLC Thanks for the additional information, however  I need additional information to try and replicate the issue you are experiencing.

Could you look at the ~/logs/phpcollab.log file and see if there are any errors there.

Also, how are you accessing the project site.  Logging in as a client user, clicking a link from a phpCollab view, etc.

Same goes for linked content.

[2022-01-05 12:28] ranjit-git opened #77 "Potential security vulnerability"
@mindblender
Few security vulnerability has been reported to huntr against your repo . It has been 6 month since reported but still no response .
Plz validate them here .
If you are repo maintainer then you can view the report  . Plz let me know if you have any problem to validate

[2022-01-05 14:59] #73 closed

[2022-01-05 15:02] mindblender commented on #77
@ranjit-git I responded multiple times to your previous emails requesting further information, yet I received no response.  Please reach out using the proper methods for reporting/inquiring about security related issues.  Thanks

[2022-01-05 15:02] #77 closed

[2022-01-05 15:05] mindblender commented on #76
Thank you for the additional info. However, I do not see a log file attached.  Try attaching it via GitHub instead replying to the email.

[2022-01-05 15:06] mindblender commented on #68
Closing this due to lack of response and unable to reproduce.  Please re-open if it is still an issue

[2022-01-05 15:06] #68 closed

[2022-01-05 15:06] mindblender commented on #70
Closing this due to lack of response and unable to reproduce.  Please re-open if it is still an issue

[2022-01-05 15:06] #70 closed

[2022-01-05 15:30] mindblender commented on #77
@ranjit-git Issues are not the proper place to report security issues.  Please follow the proper procedures outlined here: https://github.com/phpcollab/phpcollab/security/policy

[2022-01-05 16:14] WiseWorksLLC commented on #76
[phpcollab.log](https://github.com/phpcollab/phpcollab/files/7816216/phpcollab.log)

Attached is the Error log. Thank you.

[2022-01-05 16:46] mindblender commented on #76
Got it.  I'll take a look and be in touch

[2022-01-10 12:04] WiseWorksLLC commented on #76
Hello,

Please  I am beginning to get worsened error messages.

I get the below message when I login as an administrated.

**Not Found
The requested URL was not found on this server.**

Kindly assist.

[2022-01-10 12:53] mindblender commented on #76
@WiseWorksLLC I am still looking into the various issues shown in your log file.

The project site errors are not coming up for me, but I have made changes to that section since the last release so perhaps those changes fixed that issue.

I'll keep you updated as I find out more.

[2022-01-11 13:11] WiseWorksLLC commented on #76
Thank you. Really counting on you.

[2022-01-13 09:23] ranjit-git commented on #77
@mindblender  vulnerabiltiy details has been to your provided email address . Plz validate them .
If you having problem to view the report then plz let me know .
Also if you having issue to reproduce the bug on your site or some link not working for you then plz comment in that report so that i can get notification and can assist you further

[2022-01-13 09:26] ranjit-git commented on #77
Here are  high severity bug reported like remote-code-execution ,xss etc
https://huntr.dev/bounties/5bdfe24f-5407-41da-a4d8-462cbe8bcca9/
https://huntr.dev/bounties/218ffdc2-7c5c-412c-b286-ea74460d31f1/
https://huntr.dev/bounties/b1c7c400-46c6-4c3a-9530-a195e327f144/
https://huntr.dev/bounties/a55f445f-1b52-45b4-b7d7-cce1ccaae45f/
https://huntr.dev/bounties/4cc76d34-ae6f-4a9a-86c8-64776dd61621/

y

[2022-01-15 23:54] WiseWorksLLC commented on #76
It's a fresh installation.

On Thu, 13 Jan 2022, 12:45 Jeff Sittler, ***@***.***> wrote:

[2022-01-16 00:28] mindblender commented on #76
Is a sub-directory or at the root level?  From looking at the logs, it can't find a lot of the files.  Perhaps the archive did not get fully extracted?

[2022-01-16 06:23] WiseWorksLLC commented on #76
I think it's in the public folder...

On Sun, 16 Jan 2022, 00:28 Jeff Sittler, ***@***.***> wrote:

[2022-01-16 06:34] mindblender commented on #76
@WiseWorksLLC It looks like it is not finding the needed files to run.

Did you go though the [installation process](https://github.com/phpcollab/phpcollab/wiki/Installation)? If not, then I'd suggest running through the installation process and check again.

If you did, then I suggest that you re-read the installation instructions found [here](https://github.com/phpcollab/phpcollab/wiki/Installat

[2022-01-16 06:36] WiseWorksLLC commented on #76
Installation was done using Softaculous

On Sun, 16 Jan 2022, 06:34 Jeff Sittler, ***@***.***> wrote:

[2022-01-16 06:41] mindblender commented on #76
Ahh ok.  that explains a lot, unfortunately.  Softaculous does some custom stuff during the install process that is out of our control.

Let me do some more digging and try to replicate so I can see what I can find.

I'll post back when I find something out.

[2022-01-16 06:42] WiseWorksLLC commented on #76
Thanks a bunch

On Sun, 16 Jan 2022, 06:41 Jeff Sittler, ***@***.***> wrote:

[2022-01-17 23:07] mindblender commented on #76
/you might try fully removing it in Softaculous and re-installing.  I was able to install it without any error.

I'm willing to help you troubleshoot, but I feel that it would require more real-time conversation. Please join our [Slack](https://slack.phpcollab.com/) server and ping me there for further debugging help.  Thanks!

[2022-01-25 07:48] ISharlsI commented on #75
@theedo hi, how did you managed to install phpcollab in debian 11? I know this sounds weird but I'm new in linux. In the setup window I keep getting the same error message when I try to save the settings. The error says "We had a problem completing the request. Please check  and try again" I do not know if it is because I can't do the chown apache, it says that the user does not exist, or I do not

[2022-01-25 16:57] mindblender commented on #75
@ISharlsI  Is this related to the notifications issue?  If this is not related to the original notification issue, please create a new issue with the proper details.

As for troubleshooting, if you check the PHP error log, there might be more information about what failed that could help resolve the issue.

[2022-01-25 18:13] ISharlsI opened #78 "Installation problem"
Hi, firstly I would like to say that this is not a general issue or a bug, it is more like a problem with my installation because I'm new in Linux and phpCollab, so if this does not belong here please let me know where I can get help. Basically when I'm in the setup page, after filling in the fields and pressing the save button I get an error saying "We had a problem completing the request. Please

[2022-01-25 21:25] mumonkey commented on #76
I'm getting the same issue when in Tasks and click any of the sort options like Priority,status,due date, etc. I know the employees will want to use this option. PHP 7.3 yada yada all up to date..

PHP Version : | 7.3.33 PhpInfo
-- | --
MySql version : | 5.5.5-10.2.41-MariaDB
extension_dir : | /opt/cpanel/ea-php73/root/usr/lib64/php/modules
Loaded extensions : | Core,  date, libxml, openssl, pcre,

[2022-01-26 14:12] mindblender commented on #78
Hi @ISharlsI Sorry you are having problems getting phpCollab installed.

Sounds like there is a connection issue with either user permissions or the web server can't connect to the DB server.

Could you please provide some additional information?

1. Did you create the DB user and give it permission to access the 'phpcollab' database?
2. Is the Database hosted on the same server?

Thanks!

[2022-01-26 14:31] mindblender opened #79 "Unable to sort columns in Tasks"
_Originally posted by @mumonkey in https://github.com/phpcollab/phpcollab/issues/76#issuecomment-1021623321_

I'm getting the same issue when in Tasks and click any of the sort options like Priority,status,due date, etc. I know the employees will want to use this option. PHP 7.3 yada yada all up to date..

PHP Version : | 7.3.33 PhpInfo
-- | --
MySql version : | 5.5.5-10.2.41-MariaDB
extension_dir

[2022-01-26 16:36] mindblender commented on #79
This should be fixed in the next release.

[2022-01-26 16:36] #79 closed

[2022-02-08 09:41] #78 closed

[2022-02-08 17:21] mindblender commented on #78
@ISharlsI I am glad that you found the issue to the problem.  Based on the information you have provided, I will add some additional checks in the installation process to make sure the system has the necessary libraries required.

[2022-04-07 04:52] nhoknakroz opened #82 "Can't reset password"
Hi @mindblender ,

I've run a fresh installation of phpCollab version 2.10.3.
When I'm trying to reset password of an user, it always return the message "You have tried too many times. Please wait and try again".
I've made a simple fix so the feature worked but I think you should consider about this problem and make an official fix.

Change in `classes/Members/ResetPassword.php` at line 66:
[code]

[2022-04-07 06:21] mindblender commented on #82
Hi @nhoknakroz,

Thanks for the information. I would appreciate it if you could please
submit a PR with your code changes.

-Jeff

On Wed, Apr 6, 2022 at 9:52 PM nhoknakroz ***@***.***> wrote:

[2022-04-14 03:38] nhoknakroz commented on #82
Hi @mindblender, are there any updates? Can I close this issue?

[2022-04-19 02:54] mindblender commented on #82
Let me review it, your changes and mine, this week and I'll close it this weekend if the problem is fixed.  Thanks!

[2022-05-07 10:33] nhoknakroz commented on #82
Hi @mindblender. Do you have any updates?

[2022-05-07 19:47] mindblender commented on #82
Sorry, Haven't had time to work on this in a few weeks.  I made the suggested changes and merged PR #84.  Thanks!

[2022-05-07 19:47] #82 closed

[2022-06-04 05:39] #75 closed

[2022-06-04 05:43] #74 closed

[2022-06-04 05:43] mindblender commented on #74
Fixed.  Will be in next release.

[2022-11-22 19:24] eusuntacum opened #88 "pls help"
Hi,
please I need a little help:
I'm running the latest version and I get the following error when I try to access the /projects_site/home.php
it is a new fresh install no softaculos.

phpcollab.log:
FATAL ERROR (2): Error: Call to a member function getPhasesByProjectIdAndIsCompleted() on null in mysit/phpcollab/projects_site/home.php:122
Stack trace:
#0 {main}

![image](https://user-images.github